{% extends 'global/base.html' %}


{% block title %}Home | {% endblock title %}

{% block content %}
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
 
    {% bootstrap_javascript jquery='full' %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
      <a href="{% url 'authors:register' %}">Create new user</a>
      <section class="new-restaurant">
        <form action="{% url 'restaurant:restaurant_new' %}" method="post" class="create-restaurant" enctype="multipart/form-data">
          {% csrf_token %}
              <div class="new-restaurant">
                <input type="text" name="name" class="menu-restaurant__input"></input>
                <label for="cover" class="new-menu__media">Send Image</label>
                <input type="file" name="cover" id="cover"> 
                {% comment %} {% for field in form %}  
                {{ field }}
                <span> {{ field.errors }}</span>
                {% endfor %} {% endcomment %}
                <input type="submit" value="Create Restaurant" class="menu-restaurant__confirm"/>

              </div>
        </form>        
      </section>
      <section class="restaurants">
        <ul class="restaurants-list">
          {% for restaurant in restaurants %}
          <li class="restaurants-list__item">
            <a class="restaurants-list__link" src=""> 
              {% if restaurant.cover %}
                <img class="restaurants-list__img" src="{{ restaurant.cover.url }}" alt="" />
              {% endif %}
            </a>
            <span class="restaurant-list__name" src="">{{restaurant.name}}</span>
            <div class="restaurants-list__crud">
              <a class="restaurants-list__menu" href="{% url 'restaurant:menu' restaurant.id %}">Menu</a>
              <a class="restaurants-list__edit" href="{% url 'restaurant:restaurant_edit' restaurant.id %}">Edit</a>
              <a class="restaurants-list__delete" href="{% url 'restaurant:restaurant_delete' restaurant.id %}">Delete</a>
            </div>
          </li>
          {% empty %}
              <div class="center m-y">
                  <h1>No restaurant found here!</h1>
              </div>
          {% endfor %}
          {% comment %} <li class="restaurants-list__item">
            <a class="restaurants-list__link"> 
              <img class="restaurants-list__img" src="https://img.freepik.com/fotos-gratis/3d-rendem-de-uma-mesa-de-madeira-com-uma-imagem-defocussed-de-um-barco-em-um-lago_1048-3432.jpg?w=2000" alt="" />
            </a>
            <span class="restaurant-list__name" src="">aaaaaaaaaaaaaaaaa</span>
            <div class="restaurants-list__crud">
              <span class="restaurants-list__menu">Menu</span>
              <span class="restaurants-list__edit">Edit</span>
              <span class="restaurants-list__delete">Delete</span>
            </div>
          </li> {% endcomment %}

        </ul>


      </section>
 
  
{% endblock content %}